.containerRef {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: #f8f8f8;
  position: relative;
}

.checkboxes {
  position: fixed;
  top: 100px;
  right: 20px;
  z-index: 20;
  background: #fff;
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 14px;
  align-items: center;
}

.checkboxes .label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkboxes .button {
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid #999;
  background-color: #eee;
  cursor: pointer;
}

.checkboxes .button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.checkboxes .slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}